[
	name: 'martin.barreau'
	apiKey: 'ENV:PERSONAL_API_KEY'
	scripts:
		# Libraries
		# ---------
		'lib-my-store.js': 'dist/libs/lib-my-store.js'
		'lib-Toolkit.js': 'dist/libs/lib-Toolkit.js'
		'lib-Phantom.js': 'dist/libs/lib-Phantom.js'
		'lib-Ph.js': 'dist/libs/lib-Ph.js'
		# Phantoms
		# --------
		'dummy_phantom.js': 'dist/src/dummy_phantom/dummy_phantom.js'
		'Payfit Payroll Extractor.js': 'dist/src/PPX/PPX.js'
]
